.current-menu-item>a,
.current-menu-parent>a {
    color: #9B72CF;
}

.sale>a {
    font-size: 1.5rem;
}

.footer .hide {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.footer .show {
    max-height: 50rem;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

.h-cart {
    cursor: pointer;
}

.footer .footer-catalog__title {
    cursor: pointer;
}

.footer .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .5rem;
    vertical-align: middle;
    border-top: .5rem solid;
    border-right: .5rem solid transparent;
    border-left: .5rem solid transparent;
}

.footer .caret.active {
    transform: rotate(180deg);
}

.footer {
    background-color: #1d1e1f;
    width: 100%;
    border-top: 1px solid #E5E5E5;
    position: relative;
}

.footer-catalog__btn {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.js-catalog__footer {
    background-color: #1d1e1f;
    border-radius: 4rem 4rem 0 0;
    position: relative;
    border: none;
    top: -7rem;
}

.footer-catalog__list-item {
    width: 100%;
    display: flex;
}

.footer-catalog__list-item a {
    width: 100%;
}

.js-catalog__footer.btn:hover {
    background-color: #1d1e1f;
}

.js-catalog__footer::after {
    content: "\25BC";
    color: #fff;
    position: absolute;
    top: 2.6rem;
    right: 4rem;
    transform: rotate(0deg);
    transition: transform .3s;
}

.js-catalog__footer::before {
    content: "\25BC";
    color: #fff;
    position: absolute;
    top: 2.6rem;
    left: 4rem;
    transform: rotate(0deg);
    transition: transform .3s;
}

.js-catalog__footer.active::after {
    content: "\25BC";
    color: #fff;
    position: absolute;
    top: 2.6rem;
    right: 4rem;
    transform: rotate(180deg);
    transition: transform .3s;
}

.footer-catalog__wrap {
    width: 100%;
}

.js-catalog__footer.active::before {
    content: "\25BC";
    color: #fff;
    position: absolute;
    top: 2.6rem;
    left: 4rem;
    transform: rotate(180deg);
    transition: transform .3s;
}

.footer .wrapper {
    color: #818181;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.footer .wrapper a {
    color: #818181;
    font-weight: 400;
    text-decoration: none;
}

.footer .wrapper a:hover {
    color: #b2b2b2;
    transition: .3s all linear;
}

.footer .footer-catalog__list {
    flex-direction: column;
    padding: 2rem 0 0 0;
    gap: 1rem;
}

.footer-catalog__title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-catalog__list-item a {
    font-size: 1.6rem;
}

.footer .footer-catalog__title a {
    color: white;
    font-weight: 500;
}

.footer-delivery img {
    width: 2.4rem;
    filter: contrast(0.2);
}

.footer-about__info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-catalog {
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
    justify-content: space-around;
}

.footer__top {
    flex-direction: column;
}

.footer .js-footer-category-toggle-btn {
    display: none;
}

.footer-logo {
    width: 100%;
    text-align: center;
}

.footer-logo img {
    filter: contrast(0.1);
    max-width: 20rem;
}

.footer-contacts {
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footer-inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
}

.footer-info__svg svg {
    fill: #616162;
    transition: .2s;
}

.footer-info__second-block {
    padding: 1.5rem;
    margin-bottom: .2rem;
    background-color: #242526;
    text-align: center;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-info__second-block p {
    font-size: 1.6rem;
}

.footer-info__second-block:hover p {
    color: #b2b2b2;
    transition: .3s all linear;
}

.footer-info__second-block:hover svg {
    fill: #b2b2b2;
    transition: .2s;
}

.footer-info__second {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    width: 100%;
}

.svg-footer {
    fill: #616162;
    transition: .2s;
    width: 2.4rem;
}

.width-25 {
    width: 24%;
}

.footer-delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer-socials-title a {
    display: flex;
    gap: 1rem;
    font-weight: 200;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

/* Стиль для кнопки */
.footer-sale-btn {
    display: inline-block;
    padding: 2rem;
    font-size: 1.6rem;
    color: mediumvioletred !important;
    background-color: unset;
    border: .2rem solid mediumvioletred;
    border-radius: .5rem;
    cursor: pointer;
    outline: none;
    animation: pulse 1s infinite;
}

.footer-sale {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Анімація пульсації */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.footer-copyright {
    border-top: 0.1rem solid rgb(75, 75, 75);
    padding: 1.5rem 1.5rem;
    color: #818181;
    font-weight: 400;
    font-size: 1.3rem;
}

.footer-copyright__wrapper {
    max-width: 114.2rem;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.footer-copyright a {
    color: #818181;
    font-weight: 400;
    font-size: 1.3rem;
}

.footer-copyright a:hover {
    color: #b2b2b2;
}

/* Застосування анімації */
.footer-sale-btn:hover {
    color: white !important;
    background-color: unset;
    border: .2rem solid white;
    animation: none;
}

.product {
    position: relative;
}

.product .onsale {
    position: absolute;
    background: red;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem 0;
}

.product .new-badge {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background: #00d600;
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
    border-radius: 0 2rem 0 0;
}

.footer {
    margin-top: 8rem;
}

hr {
    border: none;
    border-top: 0.1rem solid #80808040;
    width: 100%;
}

.product.featured::after {
    content: 'ХIT';
    font-size: 1.7rem;
    color: white;
    display: flex;
    width: 6.3rem;
    height: 6rem;
    top: -1.8rem;
    right: -1.3rem;
    background-image: url(../img/star.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0 0;
}

.product.sale {
    box-shadow: 0 0.2rem 1.2rem 0.2rem #ff030370;
}

.product.featured {
    background: #ffe4c6;
    box-shadow: 0 0.2rem 1.2rem 0.2rem #ff8603;
}


.slick-initialized .slick-slide {
    padding-bottom: 2rem;
}

.cart__product-wrapp {
    display: flex;
    width: 100%;
}

.min-cart__product-wrapp {
    display: flex;
    width: 100%;
}

.min-cart__total-wrapper:after {
    content: "";
    position: absolute;
    bottom: 28.8rem;
    left: 0;
    width: calc(100%);
    height: 10%;
    background: linear-gradient(transparent, white);
    pointer-events: none;
}

.min-cart__products {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    overflow: auto;
    height: calc(100vh - 34rem);
    position: relative;
    padding-bottom: 5rem;

}

.min-cart__products-product-wrap {
    padding: 3rem 0;
}

.min-cart__products-product-wrap:not(:last-child) {
    border-bottom: 1px solid #E5E5E5;
}

.min-cart__products-product {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.min-cart__products-product .min-cart__img-wrap {
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
}

.min-cart__products-product .min-cart__img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    border-radius: 2rem;
}

.min-cart__delete {
    position: absolute;
    right: 1rem;
    top: 0rem;
}

.min-cart__products-product .min-cart__name {
    max-width: 22rem;
    font-size: 1.6rem;
    line-height: 150%;
    margin-right: 1rem;
}

.min-cart__products-product .min-cart__config {
    width: 100%;
    max-width: 14rem;
    margin-right: 1rem;
    border-collapse: separate;
    border-spacing: 0 1.2rem;
}

.min-cart__products-product .min-cart__config th {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #696969;
    text-align: left;
}

.min-cart__products-product .min-cart__config td {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #231942;
}


.mini-cart-wrapper h2 {
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
    padding: 1rem 0;
    font-weight: 100;

}

.min-cart__products-product .min-cart__price {
    font-size: 1.6rem;
    line-height: 150%;
    margin-right: 1rem;
}

.min-cart__counter {
    position: relative;
    width: 100%;
    max-width: 15rem;
    margin-right: 1rem;
    padding: 1.5rem 1rem 1.5rem;
    border: 1px solid #9B72CF;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 1rem;
}

.min-cart__counter span {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #696969;
}

.min-cart__counter input {
    width: 2rem;
    margin: 0 2.5rem 0 3.3rem;
    border: none;
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #9B72CF;
    text-align: center;
}

.min-cart__counter .increase,
.min-cart__counter .decrease {
    position: absolute;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 50%;
}


.min-cart__counter .increase {
    top: 1.3rem;
    right: 1.4rem;
    background: url("../img/i-submeny-plus.svg") center/contain no-repeat;

}

.min-cart__counter .decrease {
    bottom: 1.6rem;
    right: 6rem;
    background: url("../img/i-submeny-minus.svg") center/contain no-repeat;
}


.min-cart__products-product .min-cart__price-all {
    font-size: 1.6rem;
    line-height: 150%;
    margin-right: 1rem;
}

.min-cart__products-product .min-cart__delete {
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    background: transparent;
    border: none;
}

.min-cart__products-product .min-cart__delete:hover svg path {
    fill: #9B72CF;
}

.min-cart__products-product .min-cart__delete svg {
    width: 100%;
}

.min-cart__products-product .min-cart__delete svg path {
    transition: all .3s linear;
}

.min-cart__products-product .min-cart__name {
    max-width: 16rem;
}

.min-cart__products-product .min-cart__config {
    width: 100%;
    max-width: unset;
}

.min-cart__products-product .min-cart__config tbody {
    display: flex;
    justify-content: space-between;
}

.min-cart__products-product-wrap {
    padding: 1.5rem .5rem;
}

.min-cart__product-wrapp {
    justify-content: space-between;
}

.min-cart-product-wrapp-all {
    width: 78%;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.min-cart__products-product {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: unset;
}

.min-cart__products-product .min-cart__config {
    border-spacing: 0;
}

.min-cart__products-product .min-cart__img-wrap {
    margin-right: 0;
}

.min-cart__products-product .min-cart__name {
    max-width: 100%;
    margin-right: 0;
    margin: 0 3rem 0rem 1rem;
    text-align: left;
}

.min-cart__products-product .min-cart__config {
    margin-right: 0;
    padding-left: 1rem;
}

.min-cart__products-product .min-cart__price {
    margin-right: 0;
    margin-left: 0;
}

.min-cart__price-all-title {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #696969;
    text-align: left;
}

.min-cart__products-product .min-cart__counter {
    margin-right: 0;
}

.min-cart__products-product .min-cart__price-all {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.min-cart__products-product .min-cart__delete {
    margin-left: auto;
}

.min-cart__products-product .min-cart__img-wrap {
    width: 22%;
    height: 14rem;
}

.min-cart__products-product .min-cart__img-wrap img {
    object-fit: cover;
}

.checkout .row .col-lg-6.col-xl-5.ml-auto {
    max-width: unset;
}

.min-cart__products-product .min-cart__config th {
    padding-right: 1rem;
}


.min-cart__total-price .woocommerce-Price-amount.amount bdi {
    white-space: nowrap;
}

.cart__total-price .woocommerce-Price-amount.amount bdi {
    white-space: nowrap;
}

.min-cart__products .min-cart__price .woocommerce-Price-amount.amount {
    display: none;
}

.min-cart__total-wrapper {
    padding: 1rem;

}

.min-cart-free {
    padding: 1rem;
    border: .1rem solid #05a805;
    border-radius: 1rem;
}

.min-cart-free h5 {
    margin: 0 0 1rem;
    color: #05a805;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: center;

}

.min-cart-free p {
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: center;
}

.cart-free {
    padding: 1rem;
    border: .1rem solid #05a805;
    border-radius: 1rem;
}

.cart-free h5 {
    margin: 0 0 1rem;
    color: #05a805;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: center;

}

.cart-free p {
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: center;
}

.min-cart__btns {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.cart__btns {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.min-cart__total-wrapper .btn {
    width: 100%;
    max-width: 100%;
    border: .1rem solid #9b72cf;
    color: white;
    background: #9b72cf;
    display: block;
    margin-top: 1rem;
    padding: 1.5rem 2.4rem;
}

.cart__total-wrapper .btn {
    width: 100%;
    max-width: 100%;
    border: .1rem solid #9b72cf;
    color: white;
    background: #9b72cf;
    display: block;
    margin-top: 1rem;
    padding: 1.5rem 2.4rem;
}

.btn-cart-go {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1.5rem 2.4rem;
    background-color: #231942;
    border: none;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 4rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s linear;
}

.btn-cart-go svg {
    width: 2rem;
    height: 2rem;
}

.min-cart__total {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}

.cart__total {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}

.min-cart__total p,
.min-cart__btns a {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #696969;
    text-align: left;
}

.cart__total p,
.cart__btns a {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #696969;
    text-align: left;
}

.cart__total p,
.cart__btns a {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #696969;
    text-align: left;
}

.min-cart__btns a {
    text-decoration: underline;
}

.cart__btns a {
    text-decoration: underline;
}

.cart__price-all>p,
.cart__price>p {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #696969;
    white-space: nowrap;
}

.cart__counter span {
    white-space: nowrap;
}

.cart_name_config {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
}

.cart__price-all-title {
    display: none;
}

.cart__product-wrapp {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    width: unset;
}

.product-wrapp-all {
    display: flex;
    gap: 1rem;
}

.cart-empty {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.cart-empty>p {
    font-size: 3rem;
}

.min-cart__total-wrapper .btn:hover {
    color: white;
    background: blueviolet;
    border: 1px solid transparent;
}

.cart__total-wrapper .btn:hover {
    color: white;
    background: blueviolet;
    border: 1px solid transparent;
}

.mini-cart-wrapper .cart-empty>p {
    font-size: 2.5rem;
}

.cart__config {
    white-space: nowrap;
}

.cart__products-product-wrap,
.min-cart__products-product-wrap {
    position: relative;
}



.cart__products-product-wrap {
    padding: 3rem 1rem;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.closeBtn {
    filter: brightness(0);
    position: absolute;
    right: -0.2rem;
    top: -3.3rem;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 2.5rem;
    margin-left: 2.15rem;
}

.closeBtn span {
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .5s linear;
}

.closeBtn span:not(:last-of-type) {
    margin-bottom: 1.2rem;
}

.closeBtn span:nth-of-type(1) {
    transform: translateY(8px) rotateZ(47deg);
}

.closeBtn span:nth-of-type(2) {
    transform: translateY(-6px) rotate(-43deg);
}

.find__block h2 {
    font-size: 2.6rem;
    line-height: 120%;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
    /* длительность 0.5 секунды */
}

.cart__products {
    position: relative;
}

.min-cart__products.loading,
.cart__products.loading {
    overflow: hidden;
}

.loading .cart__products-product-wrap,
.loading .min-cart__products-product-wrap {
    filter: blur(0.3rem);
}

.loading .cart__products-product-wrap::after,
.loading .min-cart__products-product-wrap::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1000;
    top: 0;
}

.cart__products.loading::before,
.min-cart__products.loading::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 40%;
    width: 4.8rem;
    height: 4.8rem;
    border: 0.5rem solid #9b72cf;
    z-index: 10000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

}

.cart-empty>a {
    width: max-content;
    max-width: 100%;
    border: 0.1rem solid #9b72cf;
    color: white;
    background: #9b72cf;
    display: block;
    margin-top: 1rem;
    padding: 2.5rem 3.4rem;
    border-radius: 4rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s linear;
}

.cart-empty>a:hover {
    color: white;
    background: blueviolet;
    border: 1px solid transparent;
}

.promo-section .btn:hover {
    color: white;
    background: blueviolet;
    border: 1px solid transparent;
}

.result-find {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    border-bottom: 0.1rem solid #80808040;
    padding: 1rem 0;
}

.result-find__img {
    max-width: 10rem;
    width: 100%;
}

.result-find__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 2rem;
}

.result-find-all {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.result-find__price ins {
    text-decoration: none;
}

.result-find__price ins .woocommerce-Price-amount.amount {
    font-size: 1.5rem;
    color: #d10505;
}

.result-find-all>p,
.result-find__price p {
    font-size: 1.4rem;
    line-height: 150%;
}

.result-find__price span,
.result-find .product__sizes-like h4,
.result-find__price p {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #696969;
    text-align: left;
}

.result-find .product__sizes-like {
    flex: none;
}

.result-find-all>p>span {
    background: #9a72cf45;
}

.result-find .product__sizes-like .size {
    min-height: 1.5rem;
}

.result-find__price {
    display: flex;
    justify-content: space-between;

}

.form-show-all {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #696969;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.find__form {
    position: relative;
}

.loading .find__form::after {
    content: '';
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    right: 2rem;
    top: 1rem;
    border: 0.3rem solid #9b72cf;
    z-index: 10000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

}

.min-cart__total-wrapper .btn.disabledLink,
.cart__total-wrapper .btn.disabledLink {
    pointer-events: none;
    border: 0.1rem solid #e1e1e1;
    color: #7f7b7b;
    background: #dbd7e0;
}

@media only screen and (min-width: 720px) {
    .cart-all__wrapper {
        width: 100%;
        display: flex;
        gap: 2rem;
    }

    .cart__products-product .cart__img-wrap {
        max-width: 10rem;
        max-height: 10rem;
        margin-right: 1rem;
        width: 100%;
        height: 100%;
    }

    .cart__total {
        gap: 0;
    }

    .cart__total-wrapper h4 {
        font-size: 1.6rem;
    }

    .cart__total-wrapper .cart__total * {
        font-size: 1.6rem;
    }

    .cart__counter,
    .cart__products-product .cart__name {
        margin-right: 0;
    }


    .cart__total-wrapper {
        position: sticky;
        top: 10rem;
        height: 100%;
    }

    .cart__products {
        width: 70%;
    }

    .cart__total-wrapper {
        width: 30%;
    }

    .cart__config tbody {
        display: flex;
        gap: .5rem;
        flex-direction: column;
    }

    .cart__config tbody tr {
        display: flex;
        align-items: center;
        gap: .5rem;
        border-collapse: collapse;
    }


    .cart__products-product .cart__config {
        border-spacing: 0;
    }

    .cart__products-product .cart__price,
    .cart__products-product .cart__price-all {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }

    .cart__product-price {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .cart__products-product .cart__name {
        max-width: unset;
    }

    .cart__products-product .cart__delete {
        margin-left: 1rem;
    }

    .cart_name_config {
        gap: .5rem;
    }

    .cart__product-wrapp {
        gap: 3rem;
    }
}



@media only screen and (max-width: 1024px) {

    .footer-info__second,
    .footer-inner {
        gap: 1.2rem;
    }
}

@media only screen and (max-width: 666px) {
    .footer .show {
        max-height: 1000px;
    }

    .cart__total-price {
        margin-left: 0;
    }

    .cart__products {
        overflow: auto;
        max-height: calc(100vh - 40rem);
    }

    .cart__products-product-wrap {
        padding: 1.5rem 0rem;
    }

    .wrapper.cart {
        padding: 0 0.6rem;
    }

    .cart__total-wrapper {
        position: relative;
    }

    .cart__total-wrapper:after {
        content: "";
        position: absolute;
        bottom: 22.1rem;
        left: 0;
        width: calc(100%);
        height: 20%;
        background: linear-gradient(transparent, white);
        pointer-events: none;
    }

    .cart__products {
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        overflow: auto;
        height: calc(100vh - 34rem);
        position: relative;
        padding-bottom: 5rem;
    }

    .footer .js-footer-category-toggle-btn {
        display: flex;
    }

    .footer-catalog {
        flex-direction: column;
        gap: 1rem;

    }

    .footer .footer-catalog__list {
        justify-content: flex-start;
        align-items: start;
    }

    .footer-catalog__wrap.js-toggle-catalog__footer {
        width: 100%;
    }

    .js-footer-category-toggle-btn {
        width: 100%;
        height: 2rem;
        align-items: center;
        justify-content: end;
    }

    .footer .footer-catalog__title a {
        white-space: nowrap;
    }

    .footer-catalog__title {
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid rgb(75, 75, 75);
    }

    .width-25 {
        width: 100%;
    }

    .footer-inner {
        gap: 2.4rem;
    }

    .footer-info__second-block {
        width: 48%;
    }

    .mobile__menu-info {
        list-style-type: none;
    }
}

/**
 * Theme Name: lingeria
 * Version: v2.3
 */
.filters .filters__lists-list .list__content.colors label span a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
}

@media screen and (min-width: 992px) {
    .filters .filters__lists-list .list__content.size label span:hover {
        color: #fff;
    }
}

.product__img-wrap .product__discount {
    width: 6rem;
    height: 6rem;
    position: absolute;
    z-index: 1;
    left: -2rem;
    top: -2rem;
    background: url(img/product-discount.svg) center/contain no-repeat;
    padding: 1.2rem 1.3rem;
}

.product__img-wrap {
    position: relative;
}

.header .find__block .find__form-btns .btn {
    max-width: 24rem;
    background-color: #231942;
    padding: 1.5rem 3rem;
}

.header .find__block .find__form-btns .btn:hover {
    background-color: #9B72CF;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    margin-top: 76px;
}

button[name="update_cart"] {
    display: none !important;
}

.cart__products-product .cart__delete {
    display: inline-block;
}

.cart__btns .btn {
    width: 100%;
    max-width: 24rem;
    margin-left: 3rem;
    padding: 1.5rem 3.4rem;
    background: #231942;
    transition: all .3s linear;
    color: #fff;
    text-decoration: none;
}

.cart__btns .btn:hover {
    border-color: #9B72CF;
    background-color: #9B72CF;
}

@media only screen and (max-width: 575px) {
    .cart__btns .btn {
        margin-left: 0;
        margin-bottom: 1.5rem;
    }
}

.list__content.size a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.list__content.size a:hover {
    color: #fff;
}

/*.filters .filters__lists-list .list__content.size label span{
    padding: 0px;
}*/
.product__btns button {
    height: 5rem;
    padding: 1.4rem 1rem;
}

.icons.like a.like__icon {
    background-image: url(img/product-like.svg);
}

.icons.like a.like__icon {
    width: 17px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .1s linear;
    cursor: pointer;
    vertical-align: top;
}

.icons.like a.inited-add-wishlist {
    background-image: url(img/product-like-checked.svg);
}

.info__btns-like:before {
    /* content: '';
    background: url(img/product-like.svg);
    width: 17px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .1s linear;
    cursor: pointer;
    vertical-align: top; */
}

.info__btns-like:hover:before {
    /* content: '';
    background: url(img/product-like-checked.svg);
    width: 17px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .1s linear;
    cursor: pointer;
    vertical-align: top; */
}

.variations_form select {
    display: none;
}

.header__top ul li .wishlist_products_counter:hover svg path {
    fill: #fff;
}

/* .header__top ul li .wishlist-counter-with-products svg path {
    fill: #fff;
    transition:0.5s;
} */
.header__top ul li .wishlist-counter-with-products:hover svg path {
    fill: #9B72CF;
    stroke: #9B72CF;
}

.info__btns .inited-add-wishlist:before {
    background: url(img/product-like-checked.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.woocommerce-ordering {
    display: none !important;
}

.products li {
    list-style: none;
}

ul.products li.product .tinvwl_add_to_wishlist_button {
    margin-top: 0px !important;
}

.main__new-slider .old-price {
    display: inline-block;
}

.current-menu-item>a {
    color: #9B72CF !important;
}

.filters .filters__lists-list .list__content label span {
    display: block;
}

.filters .filters__lists-list .list__content.colors label {
    display: flex !important;
}

.filters .filters__lists-list .list__content.colors .checked {
    border: 1px solid rgb(195, 158, 163);
    border-radius: 50%;
}

.filters__lists-list .bapf_sfilter.bapf_ckbox input[type=checkbox] {
    margin-right: 0px;
}

.filters .filters__lists-list .list__content label {
    display: block !important;
}

@media only screen and (max-width: 991px) {
    .woocommerce-notices-wrapper {
        margin-top: 34px;
    }
}

.log-in,
.h-booking {
    display: none !important;
}

/*===============================
Start Sidebar Area Wrapper
================================*/

.single-sidebar-wrap {
    margin-top: 20px;
}

@media only screen and (max-width: 767.98px),
only screen and (min-width: 768px) and (max-width: 991.98px) {
    .single-sidebar-wrap {
        margin-top: 20px;
    }
}

.single-sidebar-wrap:last-child {
    margin-bottom: 0;
}

.single-sidebar-wrap .product-title {
    margin-bottom: 25px;
    cursor: pointer;
}


.sidebar-list {
    line-height: 1;
}

.sidebar-list li {
    margin-bottom: 20px;
}

.sidebar-list li input[type="checkbox"] {
    display: none;
}

.sidebar-list li input[type="checkbox"]:checked+label {
    font-weight: bold;
}

.sidebar-list li:last-child {
    margin-bottom: 0;
}

.sidebar-list li a,
.sidebar-list li label {
    cursor: pointer;
    color: var(--black);
    font-size: 1rem;
    display: block;
}

.sidebar-list li a:hover,
.sidebar-list li label:hover {
    color: var(--gold-orange);

}

.sidebar-list li a span,
.sidebar-list li label span {
    float: right;
    text-align: center;
    width: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {

    .sidebar-list li a span,
    .sidebar-list li label span {
        float: none;
    }
}

.price-range-wrap {
    margin-right: 15px;
    padding-top: 8px;
}

.price-range-wrap .price-range.ui-widget-content {
    border: none;
    background: #eeeeee;
    height: 3px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-range {
    background: #262626;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    background: #262626;
    height: 15px;
    width: 15px;
    outline: none;
    top: -4px;
    cursor: ew-resize;
    margin-left: 0;
}

.price-range-wrap .range-slider {
    font-size: 1.4rem;
    line-height: 1;
    color: #8d8d8d;
    margin-top: 22px;
}

.price-range-wrap .range-slider * {
    margin: 0;
    line-height: 1;
}

.price-range-wrap .range-slider input#amount {
    border: none;
    outline: none;
    font-size: 1rem;
    line-height: 1;
    color: #8d8d8d;
    pointer-events: none;
}

.size-list {
    margin-top: -2px;
}

.size-list li {
    display: inline-block;
    margin: 4px 2px;
}

.size-list li a,
.size-list li label {
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #8d8d8d;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    display: block;
    line-height: 40px;
    height: 40px;
    width: 100px;
}

.size-list li input[type="checkbox"] {
    display: none;
}

.size-list li a.active,
.size-list li input[type="checkbox"]:checked+label {
    border-color: #262626;
    color: var(--black);
}

.size-list li a:hover,
.size-list li label:hover {
    border-color: #262626;
    background-color: #262626;
    color: #fff;
}

.tags-cloud li {
    display: inline-block;
    position: relative;
}

.tags-cloud li:after {
    content: ',';
}

.tags-cloud li:last-child:after {
    display: none;
}

.tags-cloud li a {
    font-size: 1.4rem;
    line-height: 1;
    color: #262626;
}

.tags-cloud li a:hover {
    color: #d25b5b;
}

.sidebar-search-box form {
    position: relative;
}

.sidebar-search-box form input[type="search"] {
    outline: none;
    border: 1px solid #e7e7e7;
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 15px 40px 15px 15px;
    display: block;
    -webkit-transition: 0.3s 0.2s ease-out;
    -moz-transition: 0.3s 0.2s ease-out;
    -o-transition: 0.3s 0.2s ease-out;
    transition: 0.3s 0.2s ease-out;
    width: 100%;
}

.sidebar-search-box form input[type="search"]:focus {
    border-color: #262626;
}

.sidebar-search-box form button {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 15px;
    line-height: 1;
}

.sidebar-search-box form button:hover {
    color: var(--gold-orange);
}

.sidebar-author-profile .author-pic {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto 13px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar-author-profile .author-info {
    color: #8d8d8d;
    font-size: 1.3rem;
    line-height: 1.5;
}

.sidebar-author-profile .author-info h4 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
}

.sidebar-author-profile .author-social-link a {
    color: #8d8d8d;
    margin-right: 10px;
}

.sidebar-author-profile .author-social-link a:last-child {
    margin-right: 0;
}

.sidebar-author-profile .author-social-link a:hover {
    color: var(--gold-orange);
}

.single-sidebar-wrap {
    margin-bottom: 20px;
}


.single-sidebar-wrap {
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
    max-height: 40px;
    /* Початкова висота, відображається тільки заголовок */
}

.single-sidebar-wrap.active {
    max-height: 700px;
    /* Максимальна висота, до якої розгортається акордеон */
}

.single-sidebar-wrap h3::after {
    content: '';
    margin-top: 5px;
    /* Очищаємо текстовий вміст */
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.94986 6.99783C6.82665 6.98676 6.71006 6.93603 6.6168 6.85282L1.2157 2.0635V2.06339C1.0928 1.96108 1.01572 1.812 1.00217 1.65029C0.988529 1.48857 1.03954 1.3281 1.14351 1.20565C1.24737 1.08319 1.39542 1.00927 1.55346 1.00081C1.7116 0.992357 1.86627 1.05009 1.98203 1.16075L6.99995 5.60878L12.0179 1.16075C12.1337 1.05009 12.2884 0.992358 12.4465 1.00081C12.6046 1.00927 12.7525 1.08318 12.8565 1.20565C12.9605 1.3281 13.0115 1.48857 12.9978 1.65029C12.9842 1.81201 12.9072 1.96109 12.7843 2.06339L7.3832 6.85272V6.85282C7.26386 6.95931 7.10746 7.01161 6.94983 6.99783H6.94986Z' fill='%23131212' stroke='%23131212' stroke-width='0.8'/%3E%3C/svg%3E");
    /* Стрілка "вправо" */
    background-repeat: no-repeat;
    /* Забороняємо повторення фонового зображення */
    background-position: center;
    /* Центруємо фонове зображення */
    width: 14px;
    /* Ширина стрілки */
    height: 8px;
    /* Висота стрілки */
    display: inline-block;
    /* Робимо елемент блочно-строчним, щоб він відображався поруч з текстом */
    float: right;
    transition: transform 0.3s;
    /* Додає анімацію при зміні напрямку стрілки */
}

.single-sidebar-wrap.active h3::after {
    transform: rotate(180deg);
    /* Обертає стрілку "вниз", коли акордеон відкритий */
}

/* Start Product Config Area */
.product-config-area {
    font-size: 1.4rem;
    line-height: 1.5;
}

.product-config-area ul li {
    color: #8d8d8d;
}

.product-config-area ul li a,
.product-config-area ul li button {
    color: #8d8d8d;
}

.product-config-area .product-config-left p {
    margin-bottom: 0;
    color: #262626;
}

.product-config-area .product-config-left .product-show-quantity {
    margin-left: 50px;
}

@media only screen and (max-width: 575.98px) {
    .product-config-area .product-config-left .product-show-quantity {
        margin-left: 0;
    }
}

.product-config-area .product-config-left .product-show-quantity li {
    margin-right: 15px;
}

.product-config-area .product-config-left .product-show-quantity li:last-child {
    margin-right: 0;
}

.product-config-area .product-config-left .product-show-quantity li a {
    padding-bottom: 2px;
}

.product-config-area .product-config-left .product-show-quantity li a:hover {
    color: #262626;
}

.product-config-area .product-config-left .product-show-quantity li a.active {
    color: #262626;
    border-bottom: 1px solid #262626;
}

.product-config-area .product-config-right ul>li {
    display: inline-block;
}

.product-config-area .product-config-right ul.product-view-mode {
    margin-right: 30px;
    font-size: 1.8rem;
}

.product-config-area .product-config-right ul.product-view-mode li {
    margin-right: 5px;
    cursor: pointer;
    -webkit-transition: 0.4s 0.2s ease-out;
    -moz-transition: 0.4s 0.2s ease-out;
    -o-transition: 0.4s 0.2s ease-out;
    transition: 0.4s 0.2s ease-out;
}

.product-config-area .product-config-right ul.product-view-mode li:last-child {
    margin-right: 0;
}

.product-config-area .product-config-right ul.product-view-mode li.active,
.product-config-area .product-config-right ul.product-view-mode li:hover {
    color: #262626;
}

.product-config-area .product-config-right ul.product-filter-sort li {
    margin-left: 15px;
}

.product-config-area .product-config-right ul.product-filter-sort li:first-child {
    margin-left: 0;
}

.product-config-area .product-config-right ul.product-filter-sort li.sort-by .dropdown-nav {
    left: auto;
    right: 0;
    padding: 10px;
    margin-top: 15px;
    width: auto;
    white-space: nowrap;
}

.product-config-area .product-config-right ul.product-filter-sort li.sort-by .dropdown-nav:after {
    content: '';
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: 100%;
}

.product-config-area .product-config-right ul.product-filter-sort li.sort-by .sub-menu li,
.product-config-area .product-config-right ul.product-filter-sort li.sort-by .dropdown-nav li {
    display: block;
    margin: 0;
}

.product-config-area .product-config-right ul.product-filter-sort li.sort-by .dropdown-nav li a {
    font-size: 1.3rem;
    display: block;
    padding: 8px;
}

.product-config-area .product-config-right ul.product-filter-sort li.sort-by .dropdown-nav li a.active,
.product-config-area .product-config-right ul.product-filter-sort li.sort-by .dropdown-nav li a:hover {
    background-color: #262626;
    color: #fff;
}

.product-config-area .product-config-right ul.product-filter-sort li .arrow-toggle.arrow-rotate:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#billing_country_field {
    display: none;
}

.catalog__main .single-sidebar-wrap:nth-child(3) .size-list li {
    display: flex;
    gap: 0.5rem;
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    width: 48%;
    padding: 0.3rem 0.5rem;
    justify-content: space-between;
    border: 1px solid #dddddd;
    border-radius: 1rem;
    margin: 0;
    cursor: pointer;
}

.catalog__main .single-sidebar-wrap:nth-child(3) .size-list li:hover {
    border: 1px solid #9b72cf;
}

.catalog__main .single-sidebar-wrap:nth-child(4) .size-list li label {
    height: 3rem !important;
    border-radius: 1rem !important;
    border: 1px solid #dddddd !important;
    padding: 1rem 1rem;
    min-width: 8rem;
}

.catalog__main .single-sidebar-wrap:nth-child(3) .size-list li.active {
    border: 1px solid #9b72cf;
    background: #f1eaf8a1;

}

.catalog__main .single-sidebar-wrap:nth-child(3) .size-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

}